label.error2, label.error {
	color: red;
  font-size: 10px;
  display: block;
}

div.error { display: none; }
input.checkbox { border: none }
/*
input { border: 1px solid #7b7b7b; }
input:focus { border: 1px dotted black; }
*/
textarea.error, select.error, input.error, input.error2 { border: 1px dotted red; }